@use "./mixins" as mixins;
@use "./variables" as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #dfdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$hulk;
  border-radius: 20px;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

#root {
  height: 100%;
}


body {
  margin: 0;
  font-family: "Bitter", sans-serif;
  font-size: 16px;
  background-color: vars.$white;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}