@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.header {
  &__container {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    border-bottom: 2px solid #dfdcdc;
  }

  &__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &-img {
      width: 45px;
    }

    &-title {
      text-align: center;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      @include mixins.text-style(24px, 36px, 600, vars.$hulk);
    }
  }

  &__center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: vars.$snowflake;
    padding: 0 0 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 16px vars.$grey;

    &-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-subtabs {
      padding-top: 8px;
      padding-left: 8px;
      height: 100%;
      display: flex;
      gap: 5px;

      &--link {
        padding: 8px;
        border-radius: 5px;
        @include mixins.text-style(16px, 16px, 500, vars.$hulk);
        cursor: pointer;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:hover {
          color: vars.$beluga;
          background-color: vars.$hulk;
        }

        &.active {
          color: vars.$beluga;
          background-color: vars.$hulk;
        }

        &.no-transition {
          transition: none !important;
        }
      }
    }

  }

  &__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

}

.custom__tabs {
  border-radius: 10px 0 0 0;

  :global(.MuiButtonBase-root.MuiTab-textColorPrimary) {
    @include mixins.text-style(16px, 16px, 600, vars.$hulk);
    text-transform: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgb(0, 128, 0, 0.2);
      transition: background-color 0.3s ease-in-out;
    }
  }

  :global(.MuiButtonBase-root.Mui-selected) {
    background-color: rgb(0, 128, 0, 0.1);
  }

  :global(.MuiTabs-indicator.MuiTabs-indicator) {
    background-color: vars.$hulk;
  }
}

@media (max-width: 1600px) {
  .header {
    &__left {
      &-img {
        width: 40px;
      }

      &-title {
        @include mixins.text-style(20px, 30px, 600, vars.$hulk);
      }
    }


    &__center-subtabs {
      &--link {
        padding: 4px;
        @include mixins.text-style(14px, 14px, 500, vars.$hulk);
      }
    }
  }

  .custom__tabs {
    border-radius: 10px 0 0 0;

    :global(.MuiButtonBase-root.MuiTab-textColorPrimary) {
      @include mixins.text-style(14px, 14px);
      padding: 12px 12px;
    }
  }
}

@media (max-width: 1280px) {
  .header {
    &__container {
      padding-bottom: 20px;
      gap: 10px;
    }
  }
}


