@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as vars;

.chart-container {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  position: relative;
}

.dynamic-graph {
  &__datepicker {
    max-width: 150px;
  }

  &__calendar {
    padding-left: 42px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;

    &--span {
      color: vars.$hulk;
      font-weight: 600;
    }
  }

  &__btns {
    padding-top: 20px;
    padding-left: 42px;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 1280px) {
  .dynamic-graph {

  }
}
